<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NVIDIA_Share.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NVIDIA_Share.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NVIDIA_Share.My.MySettings>
            <setting name="SavePath" serializeAs="String">
                <value>C:/Shadowplay</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="res" serializeAs="String">
                <value />
            </setting>
            <setting name="bit" serializeAs="String">
                <value />
            </setting>
            <setting name="fps" serializeAs="String">
                <value />
            </setting>
            <setting name="vdo" serializeAs="String">
                <value />
            </setting>
            <setting name="mic" serializeAs="String">
                <value>on</value>
            </setting>
            <setting name="lang" serializeAs="String">
                <value />
            </setting>
            <setting name="replay" serializeAs="String">
                <value>off</value>
            </setting>
        </NVIDIA_Share.My.MySettings>
        <NVIDIA_Share.MySettings>
            <setting name="SavePath" serializeAs="String">
                <value />
            </setting>
        </NVIDIA_Share.MySettings>
    </userSettings>
</configuration>
