// NVIDIA OSC - icon + version info
1 ICON "NVIDIA ShadowPlay.ico"

1 VERSIONINFO
 FILEVERSION 3,28,0,412
 PRODUCTVERSION 3,28,0,412
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",     "NVIDIA Corporation"
      VALUE "FileDescription", "NVIDIA On-Screen Control Services"
      VALUE "FileVersion",     "3.28.0.412"
      VALUE "OriginalFilename", "NVIDIA OSC.exe"
      VALUE "ProductName",     "NVIDIA ShadowPlay"
      VALUE "LegalCopyright",  "(c) NVIDIA Corporation. All rights reserved."
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
